@{
    ViewBag.Title = "Private";
}

<section class="private">

    <h3>
        Your account can have maximum:

    </h3>
    <p>
        200 incomsng letters;<br />
        200 send letters;<br />
        200 spam letters.<br />
    </p>
    <p>
        The oldest letters vil been deleted, when you have more than maximum letters.
    </p>


</section>
